@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap");
@import "tailwindcss";

:root {
  --color-bg-login: #002248;
  --color-primary: #2680be;
  --color-primary-hover: #1f6fa6;
  --color-white: #ffffff;
  --color-glass: rgba(255, 255, 255, 0.18);
  --color-input: rgba(255, 255, 255, 0.28);
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Poppins", sans-serif;
}